
<div class="jumbotron">

	<!-- Main component for a primary marketing message or call to action -->

	<div class="container">
		<div class="row row-header">
			<div class="col-xs-12 col-sm-1"></div>
			<div class="col-xs-12 col-sm-6">
				<p style="padding: 20px;"></p>
				<img src="images/visioncare.jpg" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-4">
				<div>
					<p style="padding: 25px;"></p>
					<p class="text-info" style="font-size: 12px !important">
						<em>眼睛不仅是心灵之窗，也是身体健康的“预警窗”。<br>定期做眼科检查，99爱目帮助你保持心安体健。</em>
					</p>
				</div>
				<div class="alert alert-danger" ng-show="controller.error">
					登录有误。请检查用户名和密码，再试试看。</div>
				<div class="well well-lg">
					<form role="form" ng-submit="controller.login()">
						<div class="form-group">
							<label for="username">用户名:</label> <input type="text"
								class="form-control" id="username" name="username"
								ng-model="controller.credentials.username" />
						</div>
						<div class="form-group">
							<label for="password">密码:</label> <input type="password"
								class="form-control" id="password" name="password"
								ng-model="controller.credentials.password" />
						</div>
						<button type="submit" class="btn btn-success">登录</button>
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-sm-1"></div>
		</div>
	</div>
</div>