* {font-family:"PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Tahoma","Roboto","Droid Sans","Droid Sans Fallback","Heiti SC","Microsoft YaHei","Hiragino Sans GB","Simsun","Arial","sans-self";-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-overflow-scrolling:touch;padding:0;margin:0;}
body {background:#fff;background-size:100% auto;background-position-y:-55px;}
.waper {margin:auto;max-width:400px;position:relative;min-height:400px;}

.page-1 {position: absolute; top:0;width: 100%;height: 100%;}
.waper p {text-align:center;}
.page-1 .title {font-size:35px;font-family:"黑体";margin-top:10%;}
.page-1 .title2 {color:#acbeb4;font-size:10px;}
.page-1 .GBE {width:23%;margin-top:9%;}
.btn-group {text-align:center;margin-top:11%;}
.btn-group li {list-style:none;background-color:#e3e3e3;border-radius:50%;background-image:url(img/E.png);display:inline-block;width:13.5%;padding-bottom:13.5%;margin:.5%;height:0;background-position:center;background-size:9.26mm;background-repeat:no-repeat;opacity:.75;}
.btn-group li.on {-webkit-transition:all .5s ease-out;}
.R0 {-webkit-transform:rotate(0deg);}
.R45 {-webkit-transform:rotate(45deg);}
.R90 {-webkit-transform:rotate(90deg);}
.R135 {-webkit-transform:rotate(135deg);}
.R180 {-webkit-transform:rotate(180deg);}
.R225 {-webkit-transform:rotate(225deg);}
.R270 {-webkit-transform:rotate(270deg);}
.R315 {-webkit-transform:rotate(315deg);}
.Rdummy {background-image: none }
.page-1 .rule {margin:13% 9% 0 9%;text-align:justify;text-align:left;font-size:14px;color:#666;line-height:160%;}
.page-1 .start {margin-top:10%;background:#19a34d;width:45%;display:inline-block;border-radius:8px;color:#fff;font-size:20px;border:none;line-height:35px;cursor:pointer;}
.hide {display:none;}
.page-2 .screen-box {position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;margin-top:24%;}
.page-2 .screen-box .box {display:inline-block;width:35%;height:0;padding-bottom:35%;border:2px solid #19a34d;border-right-color:#139544;border-radius:50%;background-image:url(img/E.png);background-position:center;background-size:7.26mm;background-repeat:no-repeat;}

.page-2 .screen-box .box .Countdown{display:block;width:100%;margin-top:-30px;padding-top:50%;line-height:60px;font-size: 40px;}
.page-2 .screen-box .box .Countdown span{display:inline-block;width:60px;height:60px; line-height:60px;background: #fff;}
.page-2 .time {color:#c6d2cb;font-size:16px;margin-top:5px;}
.page-2 .touch-control {position:absolute;width:100%;top:60%;}
.page-2 .touch-control .btn-group li {margin:1% 1%;width:15.5%;padding-bottom:15.5%;}
.page-2 .control-hint {color:#c6d2cb;font-size:17px;margin-top:30px;}
.page-2 .screen-box .box .overbox{display: none;}

.page-2 {position: absolute; top:0;width: 100%;height: 100%;}
.page-2.over .screen-box{}
.page-2.over .screen-box .box{background-image:none ;height:0;}
.page-2  .screen-box .box.hidebg{background-image:none ;}

.page-2.over .screen-box .box .over-txt{color: #19a34d;margin-top:35px;font-size:28px;}
.page-2.over .screen-box .box .over-match{position: relative; color: #19a34d;font-size:12px;margin-top:5px;}
.page-2.over .screen-box .box .over-match:before{
	color: #19a34d;font-size:20px;content: "·····";
	-webkit-animation: befores .8s  infinite ease-in-out; 
	position: absolute;width: 100%;
	left: 0;display: block;
	top:120%;	
	}
	@-webkit-keyframes befores{
		0{content: "···";opacity: 0;}
		40%{content: "··";opacity: 1;}
		70%{content: "···";opacity: 0;}
		100%{content: "······";opacity: 1;}
	}

.page-2.over .touch-control{display: none;}
.page-2.over  .time{display: none;}
.page-3 {position: absolute;width: 100%;height: 100%; top:0;}

.fenxiang{position: absolute;top:0;right:0px;width: 11%;}
.fenxiang img{width: 100%;}
.page-3 .result-num {color:#19a34d;font-size:110px;margin-top:15%;letter-spacing:-4px;/*font-family:Verdana;*/}
.page-3 .result-txt {font-size:37px;margin-top:6%;}
.page-3 .result-hint {font-size:16px;color:#444745;}
.page-3 .age-test {margin-top:20%;height: 50px;}
.page-3 .age-test input {line-height:25px;border:0;width:60%;text-align:center;background:none;font-size:26px;border-bottom:1px solid #19a34d;}
.page-3 .age-test .seach span {position:relative;}
.page-3 .age-test .seach span:after {content:"";position:absolute;bottom:0;right:0;display:inline-block;width:26px;height:26px;background:url(img/seach.png);background-position:center;background-size:90%;background-repeat:no-repeat;}
.page-3 .age-test .hint {font-size:13px;color:#c6d2cb;}
.page-3 .age-test .hint.on {font-size:20px;color:#19a34d;}
.page-3 .start {margin-top:15%;background:#19a34d;width:45%;display:inline-block;border-radius:8px;color:#fff;font-size:18px;border:none;line-height:35px;cursor:pointer;}
@media only screen and (max-width:321px) {
.page-1 .title {margin-top:8%;}
.page-1 .rule {font-size:12px;margin:11% 9% 0 9%}
.page-1 .start {margin-top:5%;}
.page-1 .title {font-size:30px;}
.page-3 .result-num {margin-top:8%;}
.page-3 .result-txt {margin-top:0;}
}
@media only screen and (min-width:640px) {
	.waper {margin:10% auto;}
}
